<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>User profile - hypixel.lol</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="assets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>

      <ul class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand px-3" href="#">hypixel.lol</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard"><i class="bi bi-person-fill"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                          <a class="nav-link active dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="bi bi-gear-fill"></i> Configure</a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dashboard/domain">Configure domains</a></li>
                            <li><a class="dropdown-item" href="/dashboard/embed">Configure embeds</a></li>
                            <li><a class="dropdown-item" onclick="downloadConfig()" href="#">Download your config</a></li>
                            <textarea id="config-result" style="display: none;" readonly></textarea>
                          </ul> 
                        </div> 
                    </li>
                    <li class="nav-item">
                      <a type="button" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Soon!"><i class="bi bi-image-fill"></i> Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="logout()" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
      </ul>

      <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card user-card">
            <div class="card-body">
                <h1 class="card-title text-center">Welcome back!</h1>
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <a target="_blank" href="<%=profilepic%>">
                            <img id="user-profilepic" src="<%=profilepic%>" width="150px" class="img-fluid rounded-circle">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="user-info">
                            <p><strong>UID: </strong><%=uid%></p>
                            <p><strong>Username: </strong><%=username%></p>
                            <p><strong>Key: </strong><span id="upload-key"><%=uploadkey%></span></p>
                            <p>
                                <strong>Uploads: </strong>
                                <a target="_blank" href="http://<%=maindomain%>/api/uploads/<%=uploadkey%>"><%=uploads%></a>
                            </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl);
          });
      </script>
      
        <script>
          $(document).ready(function(){
            $("#user-profilepic").hover(function(){
              $(this).css({"filter": "drop-shadow(0px 0px 10px <%=bannerColor%>"});
            }, function(){
              $(this).css({"filter": "none"});
            });
          });

          function logout() {
            fetch('/logout', { method: 'GET' })
              .then(() => window.location = '/');
          }

          var configJson = {};
            function generateConfig() {
              var configResultTextarea = document.getElementById('config-result');
      
              var uploadKey = `<%=uploadkey%>`
              config = {
                          "Version": "13.4.0",
                          "Name": "hypixel.lol",
                          "DestinationType": "ImageUploader, FileUploader",
                          "RequestMethod": "POST",
                          "RequestURL": "http://<%=maindomain%>/api/upload",
                          "Body": "MultipartFormData",
                          "Arguments": {
                            "upload-key": uploadKey,
                          },
                          "FileFormName": "file"
                        }
      
              configJson = JSON.stringify(config, null, 2);
      
              configResultTextarea.value = JSON.stringify(config, null, 2);
      
              setTimeout(generateConfig, 1);
            }
      
            function downloadConfig() {
              var uploadKey = `<%=uploadkey%>`
              var filenameLength = document.getElementById('filename-length');
      
              var filename = "config.sxcu";
              var text = configJson;
              var element = document.createElement('a');
      
              element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
              element.setAttribute('download', filename);
      
              element.style.display = 'none';
              document.body.appendChild(element);
      
              element.click();
      
              document.body.removeChild(element);
            }
            generateConfig();
        </script>
    </body>
</html>