<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>User profile - hypixel.lol</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="assets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>

      <%- include('modules/navbar') %>

      <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card user-card">
            <div class="card-body">
                <h1 class="card-title text-center">Welcome back!</h1>
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <a target="_blank" href="<%=profilepic%>">
                            <img id="user-profilepic" src="<%=profilepic%>" width="150px" class="img-fluid rounded-circle my-3">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="user-info">
                            <p><strong>UID: </strong><%=uid%></p>
                            <p><strong>Username: </strong><%=username%></p>
                            <p><strong>Key: </strong><span id="upload-key"><%=uploadkey%></span></p>
                            <p><strong>Uploads: </strong><%=uploads%></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
      
        <script>
          $(document).ready(function(){
            $("#user-profilepic").hover(function(){
              $(this).css({"filter": "drop-shadow(0px 0px 10px <%=bannerColor%>"});
            }, function(){
              $(this).css({"filter": "none"});
            });
          });

          var configJson = {};
            function generateConfig() {
              var configResultTextarea = document.getElementById('config-result');
      
              var uploadKey = `<%=uploadkey%>`
              config = {
                          "Version": "13.4.0",
                          "Name": "hypixel.lol",
                          "DestinationType": "ImageUploader, FileUploader",
                          "RequestMethod": "POST",
                          "RequestURL": "http://<%=maindomain%>/api/upload",
                          "Body": "MultipartFormData",
                          "Arguments": {
                            "upload-key": uploadKey,
                          },
                          "FileFormName": "file"
                        }
      
              configJson = JSON.stringify(config, null, 2);
      
              configResultTextarea.value = JSON.stringify(config, null, 2);
      
              setTimeout(generateConfig, 1);
            }
      
            function downloadConfig() {
              var uploadKey = `<%=uploadkey%>`     
              var filename = "config.sxcu";
              var text = configJson;
              var element = document.createElement('a');
      
              element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
              element.setAttribute('download', filename);
      
              element.style.display = 'none';
              document.body.appendChild(element);
      
              element.click();
      
              document.body.removeChild(element);
            }
            generateConfig();
        </script>
    </body>
</html>