<!DOCTYPE html> 
<html lang="en">
   <head>
      <title>hypixel.lol — <%= file%></title>
      <meta name="twitter:card" content="player">
      <meta name="twitter:player" content="<%= fileUrl %>">
      <meta name="twitter:player:width" content="1280">
      <meta name="twitter:player:height" content="720">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/style.css">
      <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">
   </head>
   <body>
      <div class="center">
         <div class="card">
            <div class="card-content">
               <h2 class="card-title"><%= item%> (<%= fileSize%>)</h2>
               <video style="max-width: 100%; height: auto; border-radius: 10px;" controls>
                  <source src="<%= fileUrl%>">
               </video>
               <h2 class="card-content">Uploaded by: <span style="color: #9034ba;"><%= user%></span></h2>
               <a style="margin-top: 20px;" href="<%= fileUrl%>" class="button button-block" download>Download</a> 
            </div>
         </div>
      </div>
   </body>
</html>